<footer class="footerPeg" id="footer">
    <div class="footerPeg__top">
        <div class="container">
            <div class="grid12 footerPeg__grid">

                <div class="footerPeg__col">
                    <div class="footerPeg__head">Menu:</div>
                    <div class="footerPeg__line"></div>

                    <a class="footerPeg__link" href="index.html#home">Hero</a>
                    <a class="footerPeg__link" href="products.html">Products</a>
                    <a class="footerPeg__link" href="engineering.html">Engineering</a>
                    <a class="footerPeg__link" href="library.html">Technical library</a>
                    <a class="footerPeg__link" href="docs.html">Documentation</a>
                </div>

                <div class="footerPeg__col">
                    <div class="footerPeg__head">&nbsp;</div>
                    <div class="footerPeg__line1"></div>

                    <a class="footerPeg__link" href="#">LICENSES</a>
                    <a class="footerPeg__link" href="/uploads/catalog/catalog.pdf" target="_blank" download="/uploads/catalog/catalog.pdf">CATALOGS AND PRESENTATIONS</a>
                    <a class="footerPeg__link" href="#">USER INSTRUCTIONS</a>
                    <a class="footerPeg__link" href="/uploads/certificates/cert-all.pdf"  target="_blank"  download="/uploads/catalog/cert-all.pdf">CERTIFICATES OF COMPLIANCE</a>
                    <a class="footerPeg__link" href="#">PRIVACY POLICY</a>
                </div>

                <div class="footerPeg__col footerPeg__col--contacts">
                    <div class="footerPeg__head">Contacts:</div>
                    <div class="footerPeg__line"></div>

                    <div class="footerPeg__muted">Phone number:</div>
                    <div class="footerPeg__textRow">
                        <a class="footerPeg__textLink" href="tel:+380443901015">+38 (044) 390-10-15</a>
                        <a class="footerPeg__textLink" href="tel:+380732444088">+38 (073) 244-40-88</a>
                    </div>

                    <div class="footerPeg__muted">E-mail:</div>
                    <a class="footerPeg__textLink" href="mailto:info@llc-peg.com">INFO@LLC-PEG.COM</a>

                    <div class="footerPeg__muted">Postal address :</div>
                    <div class="footerPeg__text">
                        07400, Kyiv region, Brovary, Heroiv Ukrainy St., 21A, office 405
                    </div>

                    <div class="footerPeg__muted">Office address :</div>
                    <div class="footerPeg__text">
                        Ukraine, Kyiv, Kniaziv Ostrozkykh St., 15
                    </div>
                </div>

                <div class="footerPeg__col footerPeg__col--social">
                    <div class="footerPeg__head">&nbsp;</div>
                    <div class="footerPeg__line"></div>

                    <div class="footerPeg__social">
                        <a class="footerPeg__socialLink" href="https://www.instagram.com/ehzpeg_ua?igsh=MXRobDhkeWN2N25odQ==" target="_blank" rel="noopener noreferrer" aria-label="Instagram">
                            <span class="footerPeg__socialText">INSTAGRAM</span>
                            <img class="footerPeg__socialIcon" src="/img/ui/instagram.svg" alt="">
                        </a>

                        <a class="footerPeg__socialLink" href="https://www.facebook.com/share/1FRFSXmjbn/?mibextid=wwXIfr" target="_blank" rel="noopener noreferrer" aria-label="Facebook">
                            <span class="footerPeg__socialText">FACEBOOK</span>
                            <img class="footerPeg__socialIcon" src="/img/ui/facebook.svg" alt="">
                        </a>
                    </div>
                </div>

                <div class="footerPeg__col footerPeg__col--social">
                    <div class="footerPeg__head">&nbsp;</div>
                    <div class="footerPeg__line1"></div>

                    <div class="footerPeg__qrStack">
                        <a class="footerPeg__qrItem" href="https://t.me/EHZ_PEG" target="_blank" rel="noopener noreferrer" aria-label="Telegram">
                            <div class="footerPeg__qrLabel">TELEGRAM</div>
                            <img class="footerPeg__qrImg" src="/img/ui/qr-telegram.png" alt="QR Telegram">
                        </a>

                        <a class="footerPeg__qrItem" href="https://wa.me/380732444088" target="_blank" rel="noopener noreferrer" aria-label="WhatsApp">
                            <div class="footerPeg__qrLabel">WHATSAPP</div>
                            <img class="footerPeg__qrImg" src="/img/ui/qr-whatsapp.png" alt="QR WhatsApp">
                        </a>
                    </div>
                </div>
            </div>

            <div class="footer__brandBleed">
                <div class="footer__brand" aria-label="Prime Energy Group">
                    <picture>
                        <source media="(max-width: 768px)" srcset="/img/ui/footer-mobile.png">
                        <img class="footer__brandImg" src="/img/ui/footer.png" alt="Prime Energy Group">
                    </picture>
                </div>
            </div>
        </div>
    </div>
</footer>

