а<div class="menuOverlay" id="menuOverlay" aria-hidden="true">
    <div class="menuOverlay__panel" role="dialog" aria-modal="true" aria-label="Menu">

        <div class="menuOverlay__top">
            <div class="menuOverlay__title">MENU</div>

             <a class="btn btn--secondary btn--drift menuOverlay__consult" data-eng-request-open role="button" tabindex="0">
                CONSULTATION
            </a>

            <button class="menuOverlay__close" type="button" aria-label="Close the menu">
                <img src="/img/ui/close.svg" alt="">
            </button>
        </div>

        <div class="menuOverlay__divider"></div>

        <nav class="menuOverlay__nav">

            <div class="menuGroup menuGroup--single">
                <div class="menuRow">
                    <a class="menuItem" href="index.html">
                        <span class="menuItem__text">HOME</span>
                        <span class="menuItem__num">(01)</span>
                    </a>

                    <a class="menuToggle menuToggle--decor" href="index.html" aria-label="Go to the home page">
                        <img class="menuItem__icon" src="/img/ui/orange-up2.svg" alt="" />
                    </a>
                </div>
            </div>

            <div class="menuGroup">
                <div class="menuRow">
                    <a class="menuItem" href="products.html">
                        <span class="menuItem__text">PRODUCTS</span>
                        <span class="menuItem__num">(02)</span>
                    </a>

                    <button class="menuItem menuItem--toggle" type="button"
                            aria-expanded="false"
                            aria-controls="submenu-02"
                            data-target="submenu-02">
                        <img class="menuItem__icon" src="/img/ui/orange-up2.svg" alt="" />
                    </button>
                </div>

                <ul class="menuSub" id="submenu-02" aria-hidden="true">
                    <li class="menuSub__item"><a href="products.html">Inverter automatic cathodic protection stations (SCZI)</a></li>
                    <li class="menuSub__item"><a href="products.html">Telemetry and remote control systems for cathodic protection stations</a></li>
                    <li class="menuSub__item"><a href="products.html">Drainage protection station (DPS), "Polarizing" type</a></li>
                    <li class="menuSub__item"><a href="products.html">Drainage protection station (DPS), "Enhanced drainage" type</a></li>
                    <li class="menuSub__item"><a href="products.html">Telemetry system for collecting data from test points</a></li>
                    <li class="menuSub__item"><a href="products.html">Magnetite grounding anodes (AZMT)</a></li>
                    <li class="menuSub__item"><a href="products.html">Electronic precision smooth-control compatible protection blocks</a></li>
                    <li class="menuSub__item"><a href="products.html">Electronic precision smooth-control insulating flange control units</a></li>
                    <li class="menuSub__item"><a href="products.html">Control and measurement points (CMP)</a></li>
                    <li class="menuSub__item"><a href="products.html">CMP with compatible protection block and telemetry system</a></li>
                    <li class="menuSub__item"><a href="products.html">KVNS.PEG induced current drainage complex</a></li>
                    <li class="menuSub__item"><a href="products.html">Electrical insulating inserts (couplings)</a></li>
                    <li class="menuSub__item"><a href="products.html">Current monitoring device for anode grounding systems</a></li>
                </ul>
            </div>

            <div class="menuGroup">
                <div class="menuRow">
                    <a class="menuItem" href="engineering.html">
                        <span class="menuItem__text">ENGINEERING</span>
                        <span class="menuItem__num">(03)</span>
                    </a>

                    <button class="menuItem menuItem--toggle" type="button"
                            aria-expanded="false"
                            aria-controls="submenu-03"
                            data-target="submenu-03">
                        <img class="menuItem__icon" src="/img/ui/orange-up2.svg" alt="" />
                    </button>
                </div>

                <ul class="menuSub" id="submenu-03" aria-hidden="true">
                    <li class="menuSub__item"><a href="engineering.html">Design</a></li>
                    <li class="menuSub__item"><a href="engineering.html">Typical solutions</a></li>
                    <li class="menuSub__item"><a href="engineering.html">Video: installation and commissioning</a></li>
                </ul>
            </div>

            <div class="menuGroup">
                <div class="menuRow">
                    <a class="menuItem" href="library.html">
                        <span class="menuItem__text">TECHNICAL LIBRARY</span>
                        <span class="menuItem__num">(04)</span>
                    </a>

                    <button class="menuItem menuItem--toggle" type="button"
                            aria-expanded="false"
                            aria-controls="submenu-04"
                            data-target="submenu-04">
                        <img class="menuItem__icon" src="/img/ui/orange-up2.svg" alt="" />
                    </button>
                </div>

                <ul class="menuSub" id="submenu-04" aria-hidden="true">
                    <li class="menuSub__item"><a href="library.html">Typical installations</a></li>
                    <li class="menuSub__item"><a href="library.html">Schematic diagrams</a></li>
                    <li class="menuSub__item"><a href="library.html">Documentation and certificates</a></li>
                    <li class="menuSub__item"><a href="library.html">Technical support</a></li>
                </ul>
            </div>

            <div class="menuGroup">
                <div class="menuRow">
                    <a class="menuItem" href="docs.html">
                        <span class="menuItem__text">DOCUMENTATION</span>
                        <span class="menuItem__num">(05)</span>
                    </a>

                    <button class="menuItem menuItem--toggle" type="button"
                            aria-expanded="false"
                            aria-controls="submenu-05"
                            data-target="submenu-05">
                        <img class="menuItem__icon" src="/img/ui/orange-up2.svg" alt="" />
                    </button>
                </div>

                <ul class="menuSub" id="submenu-05" aria-hidden="true">
                    <li class="menuSub__item"><a href="docs.html">Certificates of conformity</a></li>
                    <li class="menuSub__item"><a href="docs.html">Technical passports</a></li>
                    <li class="menuSub__item"><a href="docs.html">User instructions</a></li>
                    <li class="menuSub__item"><a href="docs.html">Catalogs and presentations</a></li>
                </ul>
            </div>

        </nav>
    </div>
</div>

