<footer class="footerPeg" id="footer">

    <div class="footerPeg__top">
        <div class="footerPeg__grid">

            <!-- 1) MENU -->
            <div class="footerPeg__col">
                <div class="footerPeg__head">Меню</div>
                <div class="footerPeg__line"></div>

                <a class="footerPeg__link" href="#home">ГОЛОВНИЙ ЕКРАН</a>
                <a class="footerPeg__link" href="products.html">ПРОДУКЦІЯ</a>
                <a class="footerPeg__link" href="engineering.html">ІНЖИНІРИНГ</a>
                <a class="footerPeg__link" href="library.html">ТЕХНІЧНА БІБЛІОТЕКА</a>
                <a class="footerPeg__link" href="docs.html">ДОКУМЕНТАЦІЯ</a>
            </div>

            <!-- 2) DOCS -->
            <div class="footerPeg__col">
                <div class="footerPeg__head">&nbsp;</div>
                <div class="footerPeg__line"></div>

                <a class="footerPeg__link" href="#">ЛІЦЕНЗІЇ</a>
                <a class="footerPeg__link" href="#">КАТАЛОГИ ТА ПРЕЗЕНТАЦІЇ</a>
                <a class="footerPeg__link" href="#">ІНСТРУКЦІЇ КОРИСТУВАЧА</a>
                <a class="footerPeg__link" href="#">СЕРТИФІКАТИ ВІДПОВІДНОСТІ</a>
                <a class="footerPeg__link" href="#">ПОЛІТИКА КОНФІДЕНЦІЙНОСТІ</a>
            </div>

            <!-- 3) CONTACTS -->
            <div class="footerPeg__col footerPeg__col--contacts">
                <div class="footerPeg__head">Контакти</div>
                <div class="footerPeg__line"></div>

                <div class="footerPeg__muted">Номер телефону:</div>
                <div class="footerPeg__textRow">
                    <a class="footerPeg__textLink" href="tel:+380443901015">+38 (044) 390-10-15</a>
                    <a class="footerPeg__textLink" href="tel:+380732444088">+38 (073) 244-40-88</a>
                </div>

                <div class="footerPeg__muted">E-mail:</div>
                <a class="footerPeg__textLink" href="mailto:info@llc-peg.com">info@llc-peg.com</a>

                <div class="footerPeg__muted">Поштова адреса:</div>
                <div class="footerPeg__text">07400, Київська обл., м. Бровари, вул. Героїв України, 21, офіс 405</div>

                <div class="footerPeg__muted">Юридична адреса:</div>
                <div class="footerPeg__text">Україна, м. Київ, вул. Князів Острозьких, 15</div>
            </div>

            <!-- 4) SOCIAL -->
            <div class="footerPeg__col footerPeg__col--social">
                <div class="footerPeg__head">&nbsp;</div>
                <div class="footerPeg__line"></div>

                <div class="footerPeg__social">
                    <a class="footerPeg__socialLink" href="#" aria-label="Instagram">
                        <span class="footerPeg__socialText">INSTAGRAM</span>
                        <img class="footerPeg__socialIcon" src="/img/ui/instagram.svg" alt="">
                    </a>

                    <a class="footerPeg__socialLink" href="#" aria-label="Facebook">
                        <span class="footerPeg__socialText">FACEBOOK</span>
                        <img class="footerPeg__socialIcon" src="/img/ui/facebook.svg" alt="">
                    </a>




                </div>
            </div>

            <div class="footerPeg__col footerPeg__col--social">
                <div class="footerPeg__head">&nbsp;</div>
                <div class="footerPeg__line"></div>

                <div class="footerPeg__social">
                    <div class="footerPeg__qrStack" style="text-align: center">
                        <div class="footerPeg__qrItem">
                            <div class="footerPeg__qrLabel">TELEGRAM</div>
                            <img class="footerPeg__qrImg" src="/img/ui/qr-telegram.png" alt="QR Telegram">
                        </div>

                        <div class="footerPeg__qrItem">
                            <div class="footerPeg__qrLabel">WHATSAPP</div>
                            <img class="footerPeg__qrImg" src="/img/ui/qr-whatsapp.png" alt="QR WhatsApp">
                        </div>
                    </div>
                </div>
                </div>
            </div>



    </div>

    <div class="footer__brand">PRIME ENERGY GROUP</div>
</footer>

