<footer class="footerPeg" id="footer">
    <div class="footerPeg__top">
        <div class="container">
            <div class="grid12 footerPeg__grid">

                <div class="footerPeg__col">
                    <div class="footerPeg__head">Меню:</div>
                    <div class="footerPeg__line"></div>

                    <a class="footerPeg__link" href="index.html#home">ГОЛОВНИЙ ЕКРАН</a>
                    <a class="footerPeg__link" href="products.html">ПРОДУКЦІЯ</a>
                    <a class="footerPeg__link" href="engineering.html">ІНЖИНІРИНГ</a>
                    <a class="footerPeg__link" href="library.html">ТЕХНІЧНА БІБЛІОТЕКА</a>
                    <a class="footerPeg__link" href="docs.html">ДОКУМЕНТАЦІЯ</a>
                </div>

                <div class="footerPeg__col">
                    <div class="footerPeg__head">&nbsp;</div>
                    <div class="footerPeg__line1"></div>

                    <a class="footerPeg__link" href="#">ЛІЦЕНЗІЇ</a>
                    <a class="footerPeg__link" href="#">КАТАЛОГИ ТА ПРЕЗЕНТАЦІЇ</a>
                    <a class="footerPeg__link" href="#">ІНСТРУКЦІЇ КОРИСТУВАЧА</a>
                    <a class="footerPeg__link" href="#">СЕРТИФІКАТИ ВІДПОВІДНОСТІ</a>
                    <a class="footerPeg__link" href="#">ПОЛІТИКА КОНФІДЕНЦІЙНОСТІ</a>
                </div>

                <div class="footerPeg__col footerPeg__col--contacts">
                    <div class="footerPeg__head">Контакти:</div>
                    <div class="footerPeg__line"></div>

                    <div class="footerPeg__muted">Номер телефону:</div>
                    <div class="footerPeg__textRow">
                        <a class="footerPeg__textLink" href="tel:+380443901015">+38 (044) 390-10-15</a>
                        <a class="footerPeg__textLink" href="tel:+380732444088">+38 (073) 244-40-88</a>
                    </div>

                    <div class="footerPeg__muted">E-mail:</div>
                    <a class="footerPeg__textLink" href="mailto:info@llc-peg.com">INFO@LLC-PEG.COM</a>

                    <div class="footerPeg__muted">Поштова адреса:</div>
                    <div class="footerPeg__text">
                        07400, КИЇВСЬКА ОБЛ., М. БРОВАРИ, ВУЛ. ГЕРОЇВ УКРАЇНИ, 21, ОФІС 405
                    </div>

                    <div class="footerPeg__muted">Юридична адреса:</div>
                    <div class="footerPeg__text">
                        УКРАЇНА, М. КИЇВ, ВУЛ. КНЯЗІВ ОСТРОЗЬКИХ, 15
                    </div>
                </div>

                <div class="footerPeg__col footerPeg__col--social">
                    <div class="footerPeg__head">&nbsp;</div>
                    <div class="footerPeg__line"></div>

                    <div class="footerPeg__social">
                        <a class="footerPeg__socialLink" href="https://www.instagram.com/ehzpeg_ua?igsh=MXRobDhkeWN2N25odQ==" target="_blank" rel="noopener noreferrer" aria-label="Instagram">
                            <span class="footerPeg__socialText">INSTAGRAM</span>
                            <img class="footerPeg__socialIcon" src="/img/ui/instagram.svg" alt="">
                        </a>

                        <a class="footerPeg__socialLink" href="https://www.facebook.com/share/1FRFSXmjbn/?mibextid=wwXIfr" target="_blank" rel="noopener noreferrer" aria-label="Facebook">
                            <span class="footerPeg__socialText">FACEBOOK</span>
                            <img class="footerPeg__socialIcon" src="/img/ui/facebook.svg" alt="">
                        </a>
                    </div>
                </div>

                <div class="footerPeg__col footerPeg__col--social">
                    <div class="footerPeg__head">&nbsp;</div>
                    <div class="footerPeg__line1"></div>

                    <div class="footerPeg__qrStack">
                        <a class="footerPeg__qrItem" href="https://t.me/EHZ_PEG" target="_blank" rel="noopener noreferrer" aria-label="Telegram">
                            <div class="footerPeg__qrLabel">TELEGRAM</div>
                            <img class="footerPeg__qrImg" src="/img/ui/qr-telegram.png" alt="QR Telegram">
                        </a>

                        <a class="footerPeg__qrItem" href="https://wa.me/380732444088" target="_blank" rel="noopener noreferrer" aria-label="WhatsApp">
                            <div class="footerPeg__qrLabel">WHATSAPP</div>
                            <img class="footerPeg__qrImg" src="/img/ui/qr-whatsapp.png" alt="QR WhatsApp">
                        </a>
                    </div>
                </div>
            </div>

            <div class="footer__brandBleed">
                <div class="footer__brand" aria-label="Prime Energy Group">
                    <picture>
                        <source media="(max-width: 768px)" srcset="/img/ui/footer-mobile.png">
                        <img class="footer__brandImg" src="/img/ui/footer.png" alt="Prime Energy Group">
                    </picture>
                </div>
            </div>
        </div>
    </div>
</footer>