<!-- ===== HEADER ===== -->
<header class="header" id="top">
    <div class="container header__inner">
        <div class="header__left">
            <button class="header__burger" type="button" aria-label="Menu" aria-controls="menuOverlay" aria-expanded="false">
                <picture>
                    <source media="(max-width: 768px)" srcset="/img/ui/burger-mobile.svg">
                    <img src="/img/ui/burger.svg" alt="" width="24" height="24">
                </picture>
            </button>

            <div class="header__lang">
                <a href="index.html" class="is-active">UA</a>
                <span>|</span>
                <a href="index-en.html">EN</a>
            </div>

            <div class="header__contacts">
                <a href="tel:+380443901015">+38 (044) 390-10-15</a>
                <a class="is-underline" href="mailto:info@llc-peg.com">info@llc-peg.com</a>
            </div>
        </div>

        <a class="header__logo" href="#home" aria-label="Prime Energy Group">
            <img src="/img/logos/peg-logo.svg" alt="Prime Energy Group">
        </a>

        <div class="header__right">
            <a class="header__ctaSecondary btn btn--secondary btn--drift" href="#contacts">CONSULT WITH ENGINEER</a>
            <a class="btn btn--primary btn--brackets hero__cta" href="#contacts">КОНСУЛЬТАЦІЯ</a>

        </div>
    </div>
</header>

{{> menu}}