<div class="menuOverlay" id="menuOverlay" aria-hidden="true">
    <div class="menuOverlay__panel" role="dialog" aria-modal="true" aria-label="Меню">

        <button class="menuOverlay__close" type="button" aria-label="Закрити меню">
            <img src="/img/ui/close.svg" alt="">
        </button>

        <div class="menuOverlay__top">
            <div class="menuOverlay__title">МЕНЮ</div>

            <a class="btn btn--secondary btn--drift menuOverlay__consult" href="#">
                КОНСУЛЬТАЦІЯ
            </a>

        </div>



        <div class="menuOverlay__divider"></div>

        <nav class="menuOverlay__nav">
            <a class="menuItem" href="index.html">
                <span class="menuItem__text">ГОЛОВНИЙ ЕКРАН</span>
                <span class="menuItem__num">(01)</span>
                <img class="menuItem__icon" src="/img/ui/orange-up2.svg" alt="" />
            </a>

            <a class="menuItem" href="products.html">
                <span class="menuItem__text">ПРОДУКЦІЯ</span>
                <span class="menuItem__num">(02)</span>
                <img class="menuItem__icon" src="/img/ui/orange-up2.svg" alt="" />
            </a>

<!--            <p class="menuItem__page">
                Станції катодного захисту інверторні автоматичні (СКЗІ)</p>
            <p class="menuItem__page">
                Система телеметрії та телеуправління станціями катодного захисту</p>
            <p class="menuItem__page">
                Станція дренажного захисту (СДЗ) типу “Поляризаційна”</p>
            <p class="menuItem__page">
                Станція дренажного захисту (СДЗ) типу “Підсилений дренаж”</p>
            <p class="menuItem__page">
                Система телеметрична для збору даних з ПВ</p>
            <p class="menuItem__page">
                Аноди заземлюючі магнетитові (АЗМТ)</p>
            <p class="menuItem__page">
                Блоки сумісного захисту (електронні) плавного прецизійного керування</p>
            <p class="menuItem__page">
                Блоки управління ізоляційними фланцями (електронні) плавного прецизійного керування</p>
            <p class="menuItem__page">
                Контрольно-вимірювальні пункти (ПВ)</p>
            <p class="menuItem__page">
                Контрольно-вимірювальні пункти (ПВ) з блоком сумісного захисту та системою телеметрії</p>
            <p class="menuItem__page">
                Комплекс відведення наведеного струму КВНС.ПЕГ</p>
            <p class="menuItem__page">
                Електроізолюючі вставки (муфти)</p>
            <p class="menuItem__page">
                Пристрій контролю струмів анодних заземлювачів</p>-->

            <a class="menuItem" href="engineering.html">
                <span class="menuItem__text">ІНЖИНІРИНГ</span>
                <span class="menuItem__num">(03)</span>
                <img class="menuItem__icon" src="/img/ui/orange-up2.svg" alt="" />
            </a>

            <!--            <p class="menuItem__page">
                Проєктування</p>
            <p class="menuItem__page">
                Типові рішення</p>
            <p class="menuItem__page">
                Відео: монтаж і впровадження</p>-->

            <a class="menuItem" href="library.html">
                <span class="menuItem__text">ТЕХНІЧКА БІБЛІОТЕКА</span>
                <span class="menuItem__num">(04)</span>
                <img class="menuItem__icon" src="/img/ui/orange-up2.svg" alt="" />
            </a>

            <!--            <p class="menuItem__page">
    Типові монтажі</p>
<p class="menuItem__page">
    Принципові схеми</p>
<p class="menuItem__page">
    Документація та сертифікати</p>
<p class="menuItem__page">
    Технічна підтримка</p>-->

            <a class="menuItem" href="docs.html">
                <span class="menuItem__text">ДОКУМЕНТАЦІЯ</span>
                <span class="menuItem__num">(05)</span>
                <img class="menuItem__icon" src="/img/ui/orange-up2.svg" alt="" />
            </a>

            <!--            <p class="menuItem__page">
Сертифікати відповідності</p>
<p class="menuItem__page">
Технічні паспорти</p>
<p class="menuItem__page">
Інструкції користувача</p>
<p class="menuItem__page">
Каталоги та презентації</p>-->

        </nav>
    </div>
</div>