<div class="menuOverlay" id="menuOverlay" aria-hidden="true">
    <div class="menuOverlay__panel" role="dialog" aria-modal="true" aria-label="Меню">

        <button class="menuOverlay__close" type="button" aria-label="Закрити меню">
            <img src="/img/ui/close.svg" alt="">
        </button>

        <div class="menuOverlay__top">
            <div class="menuOverlay__title">МЕНЮ</div>

            <a class="btn btn--secondary btn--drift menuOverlay__consult" href="#">
                КОНСУЛЬТАЦІЯ
            </a>

        </div>



        <div class="menuOverlay__divider"></div>

        <nav class="menuOverlay__nav">
            <a class="menuItem" href="index.html">
                <span class="menuItem__text">ГОЛОВНИЙ ЕКРАН</span>
                <span class="menuItem__num">(01)</span>
                <img class="menuItem__icon" src="/img/ui/orange-up2.svg" alt="" />
            </a>

            <div class="menuGroup">

                <a class="menuItem" href="products.html">
                    <span class="menuItem__text">ПРОДУКЦІЯ</span>
                </a>
                <span class="menuItem__num">(02)</span>
                <div class="menuItem menuItem--toggle" type="button" aria-expanded="false" data-target="submenu-02">
                    <img class="menuItem__icon" src="/img/ui/orange-up2.svg" alt=""   />
                </div>
                <ul class="menuSub" id="submenu-02" aria-hidden="true">
                    <li class="menuSub__item"><a href="products.html">Станції катодного захисту інверторні автоматичні (СКЗІ)</a></li>
                    <li class="menuSub__item"><a href="products.html">Система телеметрії та телеуправління станціями катодного захисту</a></li>
                    <li class="menuSub__item"><a href="products.html">Станція дренажного захисту (СДЗ) типу "Поляризаційна"</a></li>
                    <li class="menuSub__item"><a href="products.html">Станція дренажного захисту (СДЗ) типу "Підсилений дренаж"</a></li>
                    <li class="menuSub__item"><a href="products.html">Система телеметрична для збору даних з ПВ</a></li>
                    <li class="menuSub__item"><a href="products.html">Аноди заземлюючі магнетитові (АЗМТ)</a></li>
                    <li class="menuSub__item"><a href="products.html">Блоки сумісного захисту (електронні) плавного прецизійного керування</a></li>
                    <li class="menuSub__item"><a href="products.html">Блоки управління ізоляційними фланцями (електронні) плавного прецизійного керування</a></li>
                    <li class="menuSub__item"><a href="products.html">Контрольно-вимірювальні пункти (ПВ)</a></li>
                    <li class="menuSub__item"><a href="products.html">Контрольно-вимірювальні пункти (ПВ) з блоком сумісного захисту та системою телеметрії</a></li>
                    <li class="menuSub__item"><a href="products.html">Комплекс відведення наведеного струму КВНС.ПЕГ</a></li>
                    <li class="menuSub__item"><a href="products.html">Електроізолюючі вставки (муфти)</a></li>
                    <li class="menuSub__item"><a href="products.html">Пристрій контролю струмів анодних заземлювачів</a></li>
                </ul>
            </div>

<!--            <p class="menuItem__page">
                Станції катодного захисту інверторні автоматичні (СКЗІ)</p>
            <p class="menuItem__page">
                Система телеметрії та телеуправління станціями катодного захисту</p>
            <p class="menuItem__page">
                Станція дренажного захисту (СДЗ) типу “Поляризаційна”</p>
            <p class="menuItem__page">
                Станція дренажного захисту (СДЗ) типу “Підсилений дренаж”</p>
            <p class="menuItem__page">
                Система телеметрична для збору даних з ПВ</p>
            <p class="menuItem__page">
                Аноди заземлюючі магнетитові (АЗМТ)</p>
            <p class="menuItem__page">
                Блоки сумісного захисту (електронні) плавного прецизійного керування</p>
            <p class="menuItem__page">
                Блоки управління ізоляційними фланцями (електронні) плавного прецизійного керування</p>
            <p class="menuItem__page">
                Контрольно-вимірювальні пункти (ПВ)</p>
            <p class="menuItem__page">
                Контрольно-вимірювальні пункти (ПВ) з блоком сумісного захисту та системою телеметрії</p>
            <p class="menuItem__page">
                Комплекс відведення наведеного струму КВНС.ПЕГ</p>
            <p class="menuItem__page">
                Електроізолюючі вставки (муфти)</p>
            <p class="menuItem__page">
                Пристрій контролю струмів анодних заземлювачів</p>-->

            <div class="menuGroup">
                <a class="menuItem" href="engineering.html">
                    <span class="menuItem__text">ІНЖИНІРИНГ</span>
                </a>
                <span class="menuItem__num">(03)</span>

                <div class="menuItem menuItem--toggle" type="button" aria-expanded="false" data-target="submenu-03">
                    <img class="menuItem__icon" src="/img/ui/orange-up2.svg" alt="" />
                </div>
                <ul class="menuSub" id="submenu-03" aria-hidden="true">
                    <li class="menuSub__item"><a href="engineering.html">Проєктування</a></li>
                    <li class="menuSub__item"><a href="engineering.html">Типові рішення</a></li>
                    <li class="menuSub__item"><a href="engineering.html">Відео: монтаж і впровадження</a></li>
                </ul>
            </div>



            <div class="menuGroup">
                <a class="menuItem" href="engineering.html">
                    <span class="menuItem__text">ТЕХНІЧКА БІБЛІОТЕКА</span>
                </a>
                <span class="menuItem__num">(04)</span>

                <div class="menuItem menuItem--toggle" type="button" aria-expanded="false" data-target="submenu-04">
                    <img class="menuItem__icon" src="/img/ui/orange-up2.svg" alt="" />
                </div>


                <ul class="menuSub" id="submenu-04" aria-hidden="true">
                    <li class="menuSub__item"><a href="library.html">Типові монтажі</a></li>
                    <li class="menuSub__item"><a href="library.html">Принципові схеми</a></li>
                    <li class="menuSub__item"><a href="library.html">Документація та сертифікати</a></li>
                    <li class="menuSub__item"><a href="library.html">Технічна підтримка</a></li>
                </ul>
            </div>



            <div class="menuGroup">
                <a class="menuItem" href="docs.html">
                    <span class="menuItem__text">ДОКУМЕНТАЦІЯ</span>
                </a>
                <span class="menuItem__num">(05)</span>

                <div class="menuItem menuItem--toggle" type="button" aria-expanded="false" data-target="submenu-05">
                    <img class="menuItem__icon" src="/img/ui/orange-up2.svg" alt="" />
                </div>


                <ul class="menuSub" id="submenu-05" aria-hidden="true">
                    <li class="menuSub__item"><a href="docs.html">Сертифікати відповідності</a></li>
                    <li class="menuSub__item"><a href="docs.html">Технічні паспорти</a></li>
                    <li class="menuSub__item"><a href="docs.html">Інструкції користувача</a></li>
                    <li class="menuSub__item"><a href="docs.html">Каталоги та презентації</a></li>
                </ul>
            </div>



        </nav>
    </div>
</div>